<a href="https://colab.research.google.com/github/jorgeordonez2209/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# String continuacion

numeros_txt = "   1, 2, 3, 4   , 5    , 35   , 15  , 12"
print (numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
    numeros_txt[j] = int(numeros_txt[j].strip())  

print(numeros_txt)

# funcion range()
# range(incio, stop, incremento)
print(range(0,10,2))
rango = range(2,10,3)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1, 2, 3, 4   , 5    , 35   , 15  , 12
['1', ' 2', ' 3', ' 4   ', ' 5    ', ' 35   ', ' 15  ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10, 2)
2
5
8
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
- declaran con [ ]
- selector [ int ]
- pueden ser de cualquier tipo y mezclado

# tuplas
- NO mutables
- declaran con ( )
-selectos [ int ]

# diccionarios
- son conjuntos de pares llave:valor
- son mutables
- equivalentes a los objetos JSON de JavaScript

# conjuntos
- representacion de la teoria de conjuntos

In [23]:
# Listas (equivalente a 'arreglos en Java')
frutas = ["Pera" , "Manzana" , "Naranja" , "Fresa" , "Kiwi"]
print(frutas)
cosas = ["cuaderno", 2, 1.77, True , False , ["Rojo" , "Azul" , "Amarillo"]]
print(cosas)
#cambiar algun elemento
frutas[2]="naranja" # frutas[2] = frutas[2].capitalize() ----> otra forma
print(frutas)
# agregar lista ---> '.append' '.insert'
frutas.append("Melon")
print(frutas)
frutas.insert(2,"Platano")
print(frutas)

fecha=["06","10","2020"]
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'Naranja', 'Fresa', 'Kiwi']
['cuaderno', 2, 1.77, True, False, ['Rojo', 'Azul', 'Amarillo']]
['Pera', 'Manzana', 'naranja', 'Fresa', 'Kiwi']
['Pera', 'Manzana', 'naranja', 'Fresa', 'Kiwi', 'Melon']
['Pera', 'Manzana', 'Platano', 'naranja', 'Fresa', 'Kiwi', 'Melon']
['06', '10', '2020']
06/10/2020

In [36]:
# eliminar elementos -----> '.pop' '.remove'
cosas = ["cuaderno", 2, 1.77, True , False , ["Rojo" , "Azul" , "Amarillo"]]
print(cosas)
cosas.append("Goma")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop(2)
print(cosas)
print(algo)

algo=cosas.pop(2)
print(cosas)
print(algo)

cosas.remove(False)
print(cosas)

# vaciar una lista '.clear'
cosas.clear()
print(cosas)

# ordenar (no se puede con elementos mezclados)
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 1.77, True, False, ['Rojo', 'Azul', 'Amarillo']]
['cuaderno', 2, 1.77, True, False, ['Rojo', 'Azul', 'Amarillo'], 'Goma', 'Lapiz']
['cuaderno', 2, True, False, ['Rojo', 'Azul', 'Amarillo'], 'Goma', 'Lapiz']
1.77
['cuaderno', 2, False, ['Rojo', 'Azul', 'Amarillo'], 'Goma', 'Lapiz']
True
['cuaderno', 2, ['Rojo', 'Azul', 'Amarillo'], 'Goma', 'Lapiz']
[]
['Fresa', 'Kiwi', 'Manzana', 'Melon', 'Pera', 'Platano', 'naranja']
['Fresa', 'Kiwi', 'Manzana', 'Melon', 'Pera', 'Platano', 'naranja']

In [44]:
# Slicing
cosas = ["cuaderno", 2, 1.77, True , False , ["Rojo" , "Azul" , "Amarillo"]]
print(cosas[3:5:1])
print(cosas)
print(cosas [0][3:5:1])

numeros=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(numeros[7:12:1])

# sustituir rebanadas
numeros[7:12:]= [-2,-2]
print(numeros)

# preguntar por existencia
print(-2 in numeros)
print(-5 in numeros)

[True, False]
['cuaderno', 2, 1.77, True, False, ['Rojo', 'Azul', 'Amarillo']]
de
[8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

# listas multidimension

listas dentro de listas

In [64]:
computadoras=["HP", "Mac Book Pro 17", "Mate book", "Lenovo legion"]
oss=["Windows 10", "Linux", "Android", "iOS"]

computo=[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])
dbms=[ ["Mysql","Open source", False],["MS SQL Server","de paga",True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga